linus-dump/
*.o
config.cache
config.log
config.status
Makefile
config.h
expire.c
bin/
common.a
robot.a
galaxygen.a
config.h
listen
ntserv
pped
robotII
robot_newbie
snake
ds
getstats
heraldry
hr
hs
mes
pl
promo
reset
trim
wm
xtk
.*.swp
*~
